<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 项目名 -->
    <dubbo:application name="dubbox_service"/>
    <!-- 注册中心的地址 -->
    <dubbo:registry address="zookeeper://192.168.25.128:2181"/>
    <!-- 包扫描 -->
    <dubbo:annotation package="com.fan.demo.service"/>


</beans>